<div style="padding-top: 21%;" *ngFor="let item of optionsData">
  <table style="width:100%; text-align: center;cursor: pointer;">
    <tr>
      <td >
        <h3 (click)="onOrderClick(item)"> Order</h3>
      </td>
    </tr>
    <tr>
      <td >
        <h3 (click)="onDetailsClick(item)"> Details</h3>
      </td>
    </tr>
  </table>
  <table style="width:100%; text-align: center;cursor: pointer;">
    <tr>
      <td>
        <amexio-button
          [label]="'Delete'"
          [type]="'theme-color'"
          [badge]="badge"
          [tooltip]="'toolTip'"
          [icon]="'fa fa-delete'"
          (onClick)="deleteData(item)">
        </amexio-button>
      </td>
    </tr>
  </table>

</div>